
ul {
    padding: 0;
    list-style: none;
  }


.img-responsive
{
  max-width: 100%;
max-height: 100%;
}

  .post
{ 
    width: 65%;
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    color: rgba(117,117,117 ,1);
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

.img
{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}